*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 66, 65);
}
.main
{
    margin-left: 380px;
    margin-top: 50px;
    
}
.text{
    font-size: 80px;
    color: rgb(0, 209, 224);
    margin-top: 50px;
}
.top{
    margin-left: 100px;
    height: 500px;
    width: 500px;
    background-color: black;
    border-radius:250px 250px 0 0  ;
    box-shadow: 0 0 1000px red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.one{
    height: 40px;
    width: 250px;
    background-color: white;
    border-radius: 30px;
}
.two{
    
    height: 40px;
    width: 250px;
    background-color: white;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 30px 30px;
}
.three{
    height: 40px;
    width: 250px;
    background-color: white;
    margin-top: 30px;
    border-radius: 30px;
}
.mid{
    width: 700px;
    height: 100px;
    background-color: black;
    border-radius: 0 0 150px 150px;
    box-shadow: 0 0 100px ;
    border: 0.1px solid white;
    margin-bottom: -20px;
    
}
.low{
    width: 700px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
}